// <h1>Movies#index</h1>
// <p>Find me in app/views/movies/index.html.erb</p>
-#  This file is app/views/movies/index.html.haml

%h1.title Welcome to Movies collection page
%h1 All movies are listed here, Enjoy

= form_tag movies_path, :method => :get do
  Include:
  -@all_ratings.each do |rating|
    = rating
    = check_box_tag("hash[#{rating}]", value = "1", checked = @selected_rating_value.include?(rating), options = {}) 

  = submit_tag 'refresh to select'

%table#movies
  %tbody
    %tr
      %th= link_to 'Title', movies_path(:sort => 'title')
      %th= link_to 'Rating', movies_path(:sort => 'rating')
      %th Description
      %th= link_to 'Release Date', movies_path(:sort => 'release_date')
      %th More Info
    %tbody
      -# - @movies.each do |m|
      -#//   %tr
      -#//     %td= m.title
      -#//     %td= m.rating
      -#//     %td= m.description
      -#//     %td= m.release_date
      -#//     %td= link_to "More about #{m.title}", movie_path(m)
      = render :partial => 'movie', :collection => @movies
= link_to 'Add new movie', new_movie_path