// <h1>Movies#index</h1>
// <p>Find me in app/views/movies/index.html.erb</p>
-#  This file is app/views/movies/index.html.haml

%h1 Welcome to Movies#index page
%p Find me in app/views/movies/index.html.erb

%table{:border => 1}
  %tbody
    %tr
      %td Title
      %td Rating
      %td Description
      %td Release Date
      %td More Info
    - @movies.each do |m|
      %tr
        %td= m.title
        %td= m.rating
        %td= m.description
        %td= m.release_date
        %td= link_to "More about #{m.title}", movie_path(m)

